body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3B3B3B;
    color: #fff;
    background-image: repeating-linear-gradient(
        to right,
        #0000 0px,
        #3B3B3B 19px,
        #555555 20px
    );
    background-size: 20px 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

.banner img {
    width: 100%;
    height: auto; 
    border-radius: 5px;
}

.marketplace, .marinfo {
    text-align: center;
    padding: 10px;
}

.marketplace h2, .marinfo h2 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 10px;
}

.marketplace-items, .staff-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item, .staff {
    background-color: #333;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 300px;
    box-sizing: border-box;
    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.3),
        -5px -5px 10px rgba(0, 0, 0, 0.2),
        10px 10px 15px rgba(0, 0, 0, 0.1);
}

.item-content, .staff img {
    align-items: center;
    width: 100%;
}

.item-content h3 {
    margin: 0;
    font-size: 20px;
    color: #fff;
    text-decoration: underline;
}

.item img, .staff img {
    width: 280px;
    height: auto;
    border-radius: 5px;
    align-items: center;
    margin-top: 1px;
}

.details, .staff {
    text-align: center;
}

.details h3 {
    margin: 0;
    font-size: 16px;
    color: #fff;
    text-decoration: underline;
}

.details p, .iteminfo p, .staff h3 {
    margin: 5px 0;
    font-size: 14px;
    color: #ccc;
}

.infocontent {
    margin-bottom: 0;
}

.infocontent h2 {
    margin: 0;
    font-size: 20px;
}

.price {
    font-size: 14px;
    margin-top: 10px;
}

a {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 35px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

a:focus, a:hover {
    color: white;
    font-weight: bold;
}

.button-bubble {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 35px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
    text-decoration: none;
}

.button-bubble:hover {
    background-color: #777;
    transform: scale(1.05);
}

.button-bubble:focus {
    outline: none;
}

.iteminfo {
    background-color: #333;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-sizing: border-box;
    text-align: left;
    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.3),
        -5px -5px 10px rgba(0, 0, 0, 0.2),
        10px 10px 15px rgba(0, 0, 0, 0.1);
}

.infocontent img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin: 0px;
}

.social-links a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #555;
    border-radius: 5px;
    font-weight: bold;
}

.social-links a:hover {
    background-color: #777;
}

.price a {
    display: inline-block;
    padding: 10px 100px;
    text-decoration: none;
    color: #fff;
    background-color: #555;
    border-radius: 5px;
    font-weight: bold;
}

.price a:hover {
    background-color: #777;
}

.iteminfo small {
    font-weight: bold;
    color: white;
}

.iteminfo tanggal {
    color: gray;
    display: inline-block;
    font-size: 10px;
}

/* Loader styles */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.4em;
    border-radius: 50%;
    border-top-color: #fff;
}

k {
    color: #fff;
    text-decoration: underline;
}

@media (min-width: 600px) {
    .marinfo {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .iteminfo {
        width: 32%;
        margin: 10px;
    }
}

/* Additional styles for section.marinfo */
section.marinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.iteminfo {
    width: 45%;
    background-color: #333;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.3),
        -5px -5px 10px rgba(0, 0, 0, 0.2),
        10px 10px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.infocontent h2 {
    font-size: 1.5em;
    color: #eee;
    margin-bottom: 10px;
    border-bottom: 2px solid #fff8;
    padding-bottom: 5px;
}

.infocontent p {
    font-size: 1em;
    color: #777;
    line-height: 1.6;
    margin-bottom: 15px;
}

.infocontent small {
    font-size: 0.9em;
    color: #888;
}

.ad-banner {
    position: relative;
    width: 90%;
    max-width: 600px; /* Set maximum width for the carousel */
    margin: auto; /* Center the carousel */
    background-color: #RRGGBBAA;
    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.3),
        -5px -5px 10px rgba(0, 0, 0, 0.2),
        10px 10px 15px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    overflow: hidden; 
}

.carousel-item img {
    width: 100%; /* Pastikan gambar mengisi lebar container */
    height: auto; /* Pertahankan rasio aspek */
    object-fit: cover; /* Potong gambar agar pas dengan container */
    border-radius: 5px; /* Sudut melengkung opsional */
    position: relative; /* Diperlukan untuk pseudo-element */
    overflow: hidden; /* Memastikan pseudo-element terpotong sesuai batas gambar */
}

.carousel-item img::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    width: 300%;
    height: 300%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 75%);
    transform: rotate(30deg);
    animation: lightEffect 2s infinite;
}

@keyframes lightEffect {
    0% {
        top: -100%;
        left: -100%;
    }
    100% {
        top: 100%;
        left: 100%;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%; 
    color: #00000000;
    background-color: #00000000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #00000000;
    color: #000;
    border-radius: 20%; 
    padding: 10px; 
}

small {
    font-size: 0.8em;
    color: gray;
}

.infocontent a {
    display: inline-block;
    text-decoration: none;
    color: #eee;
    font-weight: bold;
    margin-top: 10px;
}

.infocontent a:hover {
    text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .iteminfo {
        width: 100%;
        margin: 10px 0;
    }
}

.floating-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: transform 0.3s, background-color 0.3s;
}

.floating-bubble a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    display: block;
    padding: 10px;
}

.floating-bubble:hover {
    background-color: #777;
    transform: scale(1.1);
}
